html {
    font-size: 625%;
}

body {
    font-size: 0.2rem;
    line-height: 1.5;
    font-weight: 200;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.pc-logo {
    display: flex;
    align-items: center;
}

.pc-logo span {
    padding-left: 5px;
    font-size: 24px;
}

.pc-footer {
    text-align: center;
    line-height: 1.5;
    font-size: 0.15rem;
    font-weight: 400;
}

.register .center {
    display: inline-block !important;
}

.pc-container {
    margin-top: 10px;
}

.pc-container .carousel {
    width: 400px;
    height: 200px;
}

.pc-container .ant-carousel .slick-slide {
    text-align: center;
    height: 200px;
    line-height: 200px;
    background: #364d79;
    overflow: hidden;
}

.pc-container .ant-carousel .slick-slide h3 {
    color: #fff;
}

.pc-container .ant-carousel .slick-dots {
    bottom: 3px!important;
}